<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.keyorchestra.registroandroid.admin.options"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mago72"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.keyorchestra.registroandroid.admin.options.ScuolaWizard"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="it.keyorchestra.registroandroid.admin.options.REG_ANDROID_ADMIN_OPTIONS" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.keyorchestra.registroandroid.admin.options.util.MyCalendar"
            android:theme="@style/MyTheme" >
        </activity>
        <activity android:name="it.keyorchestra.registroandroid.admin.options.AsCreatorActivity" >
        </activity>
        <activity android:name="it.keyorchestra.registroandroid.admin.options.SchoolCreatorActivity" >
        </activity>
        <activity android:name="it.keyorchestra.registroandroid.admin.options.Tab1Activity" >
        </activity>
        <activity android:name="it.keyorchestra.registroandroid.admin.options.Tab2Activity" >
        </activity>
        <activity android:name="it.keyorchestra.registroandroid.admin.options.Tab3Activity" >
        </activity>
        <activity
            android:name="it.keyorchestra.registroandroid.admin.options.tables.Scuole"
            android:label="@string/scuoleTable"
            android:screenOrientation="fullUser" >
            <intent-filter>
                <action android:name="it.keyorchestra.registroandroid.admin.options.tables.DATABASE_TABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>